@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orbitron&family=Rampart+One&family=Roboto&display=swap');

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background: #161512 linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px) repeat-x;
    height: 100vh;
}

/* Barra de navegacion */
header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.title-nav {
    display: flex;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #BABABA;
}

.title {
    margin: 0 1rem 0 1.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 55px;
}

.title a {
    text-decoration: none;
    color: #BABABA;
}

.title span {
    color: #999999;
}

.title:hover a,
.title:hover span {
  color: #3692e7;
}

.main-nav {
    display: flex;
}

.main-nav > ul {
    display: flex;
    align-items: center;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    font-size: 13.9px;
    list-style: none;
}

.main-nav ul li {
    padding: 9.6px;
    position: relative;
}

.main-nav ul li a {
    text-decoration: none;
    color: #999999;
}

.main-nav .submenu {
    display: none;
    position: absolute;
    left: -2px;
    top: 100%;
    border-left: #3692e7 solid 2px;
    box-shadow: 2px 5px 6px rgb(0 0 0 / 30%);
    border-radius: 0 3px 3px 3px;
    width: 9rem;
    background: #4d4d4d;
}

.main-nav > ul > li:hover {
    background: #4d4d4d;
    border-left: #3692e7 solid 2px;
}

.main-nav > ul > li:hover > a{
    color: white;
}

.main-nav ul li:hover .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #3692e7;
}

.submenu li:hover a{
    color: white;
}


.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3692e7;
    margin: 0 1rem;
    padding: 0.8em 1em;
}

.nav-right a:hover {
    border-radius: 3px;
    background: #4d4d4d66;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);;
}

svg {
    padding: 0 0.7rem;
}

svg:hover {
    stroke: white;
}

/* Cuerpo de la pagina */
.main-content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
}

/* PARTE IZQUIERDA */
.main-left {
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.lives {
    display: flex;
    flex-direction: column;
    font-size: .9em;
}

.lives a {
    text-decoration: none;
    color: #999;
    font-family: 'Noto Sans', sans-serif;
    margin: .5em 1em .5em 0;
}

.lives strong {
    font-family: 'Roboto', sans-serif;
    color: #bf811d;
}

.lives-info {
    display: flex;
    align-items: center;
}

.lives-info strong {
    margin-right: 0.5vw;
}

.lives a:last-child {
    text-align: right;
}

.lives a:last-child:hover {
    color: #3692e7;
}

.spotlights {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    align-items: center;
}

.spotlights > a > span {
    display: flex;
    flex-direction: column;
}

.spotlights a {
    height: 55px;
    display: flex;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: #BABABA;
    padding: .3em;
    opacity: .8;
    align-items: center;
    background: linear-gradient(to bottom, hsl(37, 7%, 22%), hsl(37, 5%, 19%) 100%);
}

.spotlights a:hover {
    background: linear-gradient(to bottom, hsl(37, 7%, 22%), hsl(37, 5%, 19%) 100%);
    opacity: 0.9;
}

.spotlights a:hover svg {
    color: white;
}

.spotlights a:hover span {
    color: #3692e7;
}

.about {
    color: #BABABA;
    font-family: "Noto Sans",Sans-Serif;
    font-size: 14px;
    margin-top: 2vmin;
}

.about a {
    text-decoration: none;
    color: #3692e7;
}

.about a:hover {
    color: #57aeff;
}

/* PARTE CENTRAL */
.main-center {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pestañas {
    display: flex;
    justify-content: space-around;
    user-select: none;
    cursor: pointer;
    color: #999999;
}

.pestañas span {
    width: 100%;
    text-align: center;
    padding: 0.5em 0.2em;
    font-size: 14px;
    border-bottom: 2px solid #404040;
}

.pestañas span:nth-child(1) {
    color: #d64f00;
    border-bottom: 2px solid #d64f00;
}

.pestañas span:nth-child(2):hover,
.pestañas span:nth-child(3):hover {
    border-bottom: 2px solid #d64f00;
}

/* PARTE DERECHA */